<div class="author">
    <h1 class="author_heading">BlogIt! </h1>
    <p class="author_body">Empowering Your Voice, One Story at a Time.</p>
</div>

<img src="/img/hello.avif" alt="something somewhere" class="hero-image" width="450" height="400"

<section class="article">
    <h2 class="article_heading">Latest Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !==null) { %>
     <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
     <% }    %>
</section>